.App {
  text-align: center;
  background-color: #282c34;
  padding: 0 5vw;
  max-width: 100vw;
  overflow: hidden;
  word-wrap: break-word;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 10%;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10vh;
}

.App-link {
  color: #61dafb;
}
